.swiper-container {
    width: 100%;
    height: calc(100vh - 170px);
    position: relative;


}


.swiper-slide {
    position: relative;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide{
    &:first-child{
    }



    .box{
        background-image: url(../images/aboutProject-I.jpg);
        min-width: 100%;
        min-height: 100%;

    }
}