

//Globs

//  Header

$headerH: 170px;


// Fonts

// Titles Roboto reg 60px
// Content Roboto reg 36px

body{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}


h1{
  font-size: 3rem;
  font-weight: 300;
}

p{
  font-size: 1.8rem;
}
