


//Globs

.section-content{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;

}



//Section About

.about-section{
  background-image: url(../images/aboutProject-I.jpg);

}



.infoboxes-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  float: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0 0 5px;
}

.svg-box{
  width: auto;
  display: block;
  margin: 15px;
  height: 20%;
  align-self: baseline;
}

.section-copy{
  position: absolute;
  display: block;
  bottom: 240px;
  right: 50px;
  width: getVw(600);
  background: rgba(#fff, 0.88);
  padding: 30px;
  text-align: left;

  >.heading{
    color: $brand-primary;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  >.copy{
    color: $content-color;
  }

}


//Section Location




.section-content.location-section{
  display: table;

}


.legend-panel{
  width: 20%;
  height: 100%;
  background: #fff;
  display: table-cell;
  margin: 0;
  padding: 5px 10px;

  >h1{
    color: $brand-primary;
    padding: 5px 25px;
  }
}

.map-container{
  width: 75%;
  background-image: url("../images/mapBG.jpg");
  height: 100%;
  display: table-cell;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


//Section environment

.section-content.environment-section{
  background-image: url(../images/environmentBG.jpg);


  .infoboxes-container{

    .svg-box{
      &:nth-child(1), &:nth-child(4){
        opacity: 0;
      }



    }

  }

  .section-copy{
    bottom: auto;
    top: 70px;
  }


}

// Location page


//top section
.section-content.top-section{
  background-image: url(../images/location-top-bg.jpg);

}

// map section

#location-map{
  height: 94%;
}

// third section

.section-content.panel-three-section{
  background-image: url(../images/locationpanel-III-bg.jpg);

  .infoboxes-container{
    .svg-box{
      &:first-child{
        height: 40%;
      }

      &:nth-child(5), &:nth-child(6){
        opacity: 0;
      }

      &:nth-child(7){
        margin-top: -15px;
      }


    }
  }

}

// fourth section

.section-content.panel-four-section {
  background-image: url(../images/locationpanel-IV-bg.jpg);
}



// Section Offices

.quater-section{
  max-height: 100%;
}

.quater-box{
  position: relative;
  width: 50%;
  height: 50%;
  float: right;
  background: #fff8e5;
  border: 6px solid #fff;
  margin: 0;
  background-size: cover;
  background-position: bottom;
  &._lt{
    border-top: none;
    border-left: none;
  }
  &._rt{
    border-right: none;
    border-top: none;
  }
  &._rb{
    border-right: none;
    border-bottom: none;
  }
  &._lb{
    border-bottom: none;
    border-left: none;
  }

}

.quater-box-info{
  max-width: getVw(180);
  padding: 20px;
}

// Floor plans

.floor-container{
  text-align: center;
  padding: 10px 17%;
  position: relative;


  #current-floor{
    max-width: 95%;
  }

}


.floor-info{
  p{
    display: inline-block;
    margin: 0 40px;
    vertical-align: text-top;
  }
  >.title{
    text-align: left;
  }

  .meta{

    span{
      width: 25px;
      height: 25px;
      background: $brand-primary;
      display: inline-block;
      transform: translateY(6px);
      margin: 0 10px;
    }
  }
}

.floors-nav{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 16%;
}

.floor-link{
  text-decoration: none;
  color: $content-color;
}

.floor-img{
  max-width: 100%;
  padding: 0 50px;
}

.floor-desc{
  text-align: left;
  padding: 0 50px;


}


// Facilities

.section-content.facilities-section {
  display: table;

  .legend-panel {
    width: 20%;
    height: 100%;
    background: #fff;
    display: table-cell;
    margin: 0;
    padding: 5px 10px;
    background-color: #78BE44;
    text-align: center;

    > h1 {
      color: $brand-primary;
      padding: 5px 25px;
    }
    img{
      max-width: 100%;
    }
  }

  .map-container {
    background-image: url("../images/office-facilitiesBG.jpg");
    height: 100%;
    display: table-cell;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

}