footer{

  .footer-logo{
    max-width: 180px;
    padding: 30px;
  }


}

.footer-right-col{
  text-align: right;
  position: relative;
  display: flex;
  justify-content: flex-end;

  p{
    align-self: center;
    margin: 0 10px;
    span{
      font-size: 5rem;
      font-weight: 500;
      color: $brand-primary;
    }
  }
  img{
    height: auto;
    padding: 10px;
    max-width: 140px;
    max-height: 90px;
  }
}