html, body {
  position: relative;
  max-height: 100%;


}
body {
  margin: 0;
  padding: 0;
  font-weight: 300;

}

.nav-primary{
  position: relative;
  z-index: 3;
}

.lang-switch{
  position: absolute;
  right: 0;
  padding: 10px;

  &.xs{
    display: none;
  }

  .lang-item{
    display: inline-block;
    font-size: 1.4rem;
    a{
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 5px;
      padding: 3px 5px;
      &.current-lang{
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }
}


.brand-logo, .nav-primary{
  height:$headerH ;
  position: relative;
}


.brand{
  position: absolute;
  bottom: 30px;
  margin-left: getVw(75);

    .logo{
      max-width: 160px;
    }
  }


.menu-main-container{
  text-align: right;
}

.nav{
  list-style: none;
  position: absolute;
  bottom: 30px;
  right: getVw(120);
  margin: 0;
  font-size: 1.8rem;

  .menu-item{
    display: inline-block;

    a{
      padding: 0 getVw(30);
      font-size: inherit;
      text-decoration: none;
      font-weight: 500;
      color: $content-color;
      text-transform: uppercase;
      &:hover{
        color: $brand-primary;
      }


    }

    &:first-child{
      a{
        padding-left: 0;
      }
    }

    &.current-menu-item{
      a{
        color: $brand-primary;
      }
    }
  }
}


@media only screen and (max-width : $screen-md-min) {

  .brand-logo, .nav-primary{
    height: 120px;
  }

  .brand{
    margin-left: getVw(25);

    .logo{
      max-width: 120px;
    }
  }

  .nav{
    font-size: 1.5rem;
  }
}

.menu-toggle-wrap{
  padding: 20px 0;
  position: absolute;
  right: 20px;
  top:10px;
  z-index: 3;
}

#menu-toggle {
  display:block;
  height:5px;
  width:30px;
  background:$brand-primary;
  position:relative;
  transition: 0.4s;
  &:before {
    content:'';
    position:absolute;
    top:-10px;
    width:30px;
    height:5px;
  background:$brand-primary;
    transition: 0.4s;
  }
  &:after {
    content:'';
    position:absolute;
    top:10px;
    width:30px;
    height:5px;
  background:$brand-primary;
    transition: 0.4s;
  }

  &.open{
      background:transparent;
      &:before {
        -webkit-transform:rotate(45deg);
        top:0;
      }
      &:after {
        -webkit-transform:rotate(-45deg);
        top:0;
      }
    }

}


.activeBurg {
  background:transparent;
  &:before {
    -webkit-transform:rotate(45deg);
    top:0;
  }
  &:after {
    -webkit-transform:rotate(-45deg);
    top:0;
  }
}

@media only screen and (max-width : $screen-sm-min) {


.brand-logo{
  height: 75px;

  .brand{
    position: relative;
    margin: auto;
    bottom: auto;
    .logo{
      margin: 10px 0;
    }
  }


}

  .nav-primary{
    height: auto;

    #menu-main{
      position: relative;
      bottom: auto;
      right: auto;
      margin: 0 0 15px 0;
      padding: 0;
      text-align: center;
    }


  }




}

@media only screen and (max-width : $screen-xs-min) {

  .lang-switch{
    visibility: hidden;
    &.lg{
      display: none;
    }
    &.xs{
      display: block;
      position: relative;
      text-align: center;
      padding: 0;
    }
    &.visible{
      visibility: visible;
    }

  }


  .brand-logo{
    height: 65px;
  }
.nav-primary{
  position: fixed;
  width: 100%;
  height: 0;
  transition: 0.6s;
  background: #fff;

  &.visible{
    height: 190px;
    transition: 0.6s;

  }





  #menu-main{
    border-top: 1px solid $brand-primary;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;

    .menu-item{
      display: block;
      margin: 10px;
    }
    &.visible{
      visibility: visible;
      opacity: 1;
    }
  }

}



}
