article{
  border-top: 1px solid #ccc;
  text-align: left;


  p{
    display: inline-block;
    margin: 10px;
    font-size: 2.4rem;
    color: $content-color;

  }

  .entry-summary, .post-date{
    display: inline-block;
  }

  .post-date{
    color: $brand-primary;
    margin: 10px;
    font-size: 2.4rem;
  }


}

.posts-container{
  width: 65%;
  margin: auto;
  text-align: center;
  >h1{
    margin: 15rem 5rem 5rem;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 4rem;
  }
}